# OS
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Dossiers médias locaux (à ne pas pousser sur Git)
# Décommentez si vos médias sont trop lourds pour GitHub :
# photos/
# videos/
# previews/

# Logs
*.log
npm-debug.log*
